@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: bisque;
}

.results-container {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  padding: 20px 0;
  flex-wrap: wrap;
  font-size: 20px;
}

button {
  margin: 30px 20px 20px;
  padding: 15px 40px;
  font-size: 4rem;
  border: 3px solid black;
  border-radius: 1rem;
  cursor: pointer;
}

#instruction {
  padding: 0 20px;
  font-size: 18px;
}

.outcome-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0;
}

.newDiv {
  margin: 10px 0;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-self: center;
  border: 2px solid rgb(173, 77, 182);
  width: 36vw;
  border-radius: 1rem;
}

.score-tracker {
  font-size: 20px;
  padding-top: 10px;
}

footer {
  padding: 20px 0;
  bottom: 0;
}

footer p {
  font-size: 18px;
}
